.bgroundred{
    background-image: url('../assets/bgroundred.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Pay-cont{
    direction: rtl;
}
.Pay-img{
    width: 45rem;
}
@media (max-width: 1023px) {
    .Pay-img{
        width: 25rem;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }

}